<div class="row">
  <div class="col">
    <h1>Recipes</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <button onclick="window.location='/users/<%= @user.id %>'" class="btn btn-light">Home</button>
    <button onclick="window.location='/recipes/new'" class="btn btn-light">New Recipe</button>
    <button onclick="window.location='/users/logout'" class="btn btn-light">Log Out</button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <ul class="list-group list-group-flush">
      <% @user.recipes.all.sort { |a, b| a.name <=> b.name }.each do |recipe| %>
        <a href="/recipes/<%= recipe.id %>">
          <li class="list-group-item"><h3><%= recipe.name %></h3></li>
        </a>
      <% end %>
    </ul>
  </div>
</div>