<h1>Welcome, <%= @user.username %>!</h1>

<a href="/users/<%= @user.id %>">Home</a>
<a href="/recipes/new">New Recipe</a>
<a href="/users/logout">Log Out</a>

<h3>Recipes:</h3>
<ul>
  <% @user.recipes.all.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>