<h1>Recipes</h1>

<button onclick="window.location='/users/<%= @user.id %>'" class="btn btn-light">Home</button>
<button onclick="window.location='/recipes/new'" class="btn btn-light">New Recipe</button>
<button onclick="window.location='/users/logout'" class="btn btn-light">Log Out</button>

<ul>
  <% @user.recipes.all.reverse.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>