<h1>New Recipe</h1>

<form method="POST" action="/recipes">
  <p><input type="text" name="recipe[name]" placeholder="Recipe Name"></p>
  <h3>Ingredients</h3>

  <table>
    <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Unit</th>
    </tr>
    <% 10.times do %>
      <tr>
        <td>
          <input type="text" name="ingredients[][food][name]" placeholder="ingredient">
        </td>
        <td>
          <input type="text" name="ingredients[][quantity]">
        </td>
        <td>
          <input type="text" name="ingredients[][unit]">
        </td>
      </tr>
    <% end %>
  </table>
  <input type="submit" value="Add Recipe">
</form>