<div class="row">
  <h1><%= @recipe.name %></h1>
</div>

<div class="row">
  <div class="col">
    <button onclick="window.location='/recipes/<%= @recipe.id %>/edit'" class="btn btn-light">Edit Recipe</button>
  </div>
  
  <div class="col">
    <form method="POST" action="/recipes/<%= @recipe.id %>" class="float-right">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" class="btn btn-danger" value="Delete Recipe">
    </form>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-lg-8">
    <ul class="list-group">
      <% @recipe.ingredients.each do |ingredient| %>
        <li class="list-group-item"><%= ingredient.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <button onclick="window.location='/recipes'" class="btn btn-light">Back to Recipes</button>
  </div>
</div>