<h1>Sign Up</h1>

<form method="POST" action="/users">
  <p><input type="text" name="username" placeholder="User Name"></p>
  <p><input type="email" name="email" placeholder="Email"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <input type="submit" value="Sign Up">
</form>

<p>Already have an account? <a href="/login">Log in</a>.</p>