<h1>Log In</h1>

<form method="POST" action="/users">
  <p><input type="text" name="username" placeholder="User Name"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <input type="submit" value="Log In">
</form>

<p>If you don't have an account, you can <a href="/users/new">Sign Up</a>.</p>